* {
	margin: 0;
	padding: 0;
}
.container {
	background: url("https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	padding: 25px;
}

button {
	height: 40px;
	width: 100px;
	font-size: 25px !important;
	margin: auto;
	align-items: center;
	display: flex; 
}
input {
	display: flex;
	align-items: center;
	padding: 10px;
	margin: auto;
	cursor: pointer;
	font-size: 30px;
}
h2 {
	padding-top: 15%;
	padding-bottom: 15px;
	font-size: 35px;
	text-align: center;
}
