/* Misael's CSS */
.Comforter {
    font-family: 'Comforter', cursive;
 }
 
 .mb-border {
    border-top: solid #f9cb76 10px;
 }
 
 #mb-editRecipeBody {
    height: 100vh;
    background: url("https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 .mb-box {
    padding: 10px;
    background: #ffdd9c;
    background: linear-gradient(164deg, #ffdd9c 46%, rgb(238, 239, 243) 100%);
 }
 
 .mb-box:hover {
    transform: scale(1.5);
 }
 
 .mb-title {
    font-size: 80px;
    
 }
 
 #contact {
    background: #ffdd9c;
    background: linear-gradient(164deg, #ffdd9c 46%, rgb(238, 239, 243) 100%);
 }
 
 @media screen and (max-width: 667px) {
   #contact {
      width: 160%;
      background: #ffdd9c;
      background: linear-gradient(164deg, #ffdd9c 46%, rgb(238, 239, 243) 100%);
   }
   }
  
 /* End Misael's CSS */