
.body-login{
	height: 1100px;
	background-image: url("../img/chopping-board.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

nav {
   width: 95%;
   height: 100px;
   background-color: #ffdd9c;
   border-radius: 8px;
   border: solid black 1px;
   display: flex;
   justify-content: end;
   opacity: 0.89;
   padding-top: 17px;
   margin-left: 39px;
   position: relative;
   top: 18px;
   box-shadow: 0px 0px 20px black;
}

.logo img {
   height: 175px;
   position: absolute;
   top: 7px;
   border: solid black 1px;
   margin-left: 39px;
   box-shadow: 0px 0px 20px black;
}

.nav-link1 {
   font-weight: bold;
   font-size: 18px;
   text-transform: uppercase;
   text-decoration: none;
   color: #030303;
   padding: 20px 0px;
   margin: 0px 20px;
   display: inline-block;
   position: relative;
   opacity: 0.75;
}

.nav-link1:hover {
   opacity: 1;
}

.nav-link1::before {
   transition: 300ms;
   height: 5px;
   content: "";
   position: absolute;
   background-color: #565656;
}

.nav-link-ltr1::before {
   width: 0%;
   bottom: 10px;
}

.nav-link-ltr1:hover::before {
   width: 100%;
}

.nav-link-fade-up::before {
   width: 100%;
   bottom: 5px;
   opacity: 0;
}

.nav-link-fade-up:hover::before {
   bottom: 10px;
   opacity: 1;
}

.nav-link-grow-up::before {
   height: 0%;
   width: 100%;
   bottom: 0px;
}

.nav-link-grow-up:hover::before {
   height: 5px;
}

.nav-link1:focus,
.nav-link1:hover {
   color: #030303;
}


/* Start-Chazz */
.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 700px;
	height: 400px;
	cursor: pointer;
	font-size: 50px;
	color: rgb(0, 0, 0);
}

.login-inputs {
	width: 50%;
	font-size: 50px;
	padding: 10px;
}
.login-inputs input {
	/* height: 50px; */
	font-size: 25px;
	margin: 6px;
	width: 100%;
	border-radius: 5px;
}
.login-container {
	display: flex;
	align-items: center;
	height: 950px;
}
.checkbox {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.login-button {
	height: 50px;
	width: 200px;
	font-size: 25px !important;
}
/* End-Chazz */
@media screen and (max-width: 600px) {
   .logo img {
      height: 90px;
      position: absolute;
     left: -35px;
      border: solid black 1px;
      box-shadow: 0px 0px 20px black;
   }
   }
   
@media screen and (max-width: 600px) {
   nav {
      width: 98%;
      height: 100px;
      background-color: #ffdd9c;
      border-radius: 8px;
      border: solid black 1px;
      display: flex;
      justify-content: end;
      opacity: 0.89;
      padding-top: 17px;
      margin-left: 39px;
      position: relative;
      top: 42px;
      box-shadow: 0px 0px 20px black;
      left: -35px;
   }
}

.login-user {
   padding: 4px;
  font-size: 14px;
  font-weight: 700;
}
.hello  {
   padding: 4px;
  font-size: 14px;
  font-weight: 700;
}
.hello-user {
   display: flex;
   margin-left:25%;
   color: #000;
}

@media screen and (max-width: 600px) {
.login-inputs {
	width: 85%;
	font-size: 50px;
	padding: 10px;
}
}