/* Misael's CSS */
.Comforter{
    font-family: 'Comforter', cursive;
}

#contact{
    background: rgb(180,31,154);
    background: linear-gradient(164deg, rgba(180,31,154,1) 0%, rgba(9,121,114,1) 46%, rgba(0,69,255,1) 100%);
}
/* End Misael's CSS */